# Python
__pycache__/
*.py[cod]
*.egg-info/
.pytest_cache/
.coverage
htmlcov/

# Entornos virtuales
venv/
.venv/
env/

# Variables de entorno
.env
.env.local

# Bases de datos locales
*.db
*.sqlite

# IDEs / SO
.idea/
.vscode/
.DS_Store
Thumbs.db

# Logs
*.log
